{% extends "base_2.html" %} {% block menu %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/home">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>        
        Главная
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/news_search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        Поиск новостей
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/news_of_all">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>        
        Другие новоти
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/news_to_me">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>        
        Ваши новости
    </a>
</li>
{% endblock %} {% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form method="POST" enctype="multipart/form-data">
        <h6>Создатель новости: {{ current_user.username }}</h6>
        {{ message }} {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br> {{ form.title(class="form-control") }}<br> {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.intro.label }}<br> {{ form.intro(class="form-control") }}<br> {% for error in form.intro.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <div style="padding-bottom: 10px;">
            <p>
                <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Как можно красиво оформлять новости<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                  </svg>
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>Чтобы красиво офрмлять новости, вы можете использовать язык разметки <strong>Markdown</strong>. 
                    Если вы не знаете об этом языке разметки, почитайте о нём тут:</p>
                    <li><a href="https://gist.github.com/Jekins/2bf2d0638163f1294637" target="_blank" rel="noopener noreferrer">Руководство по оформлению Markdown файлов</a></li>
                    <li><a href="https://paulradzkov.com/2014/markdown_cheatsheet/" target="_blank" rel="noopener noreferrer">Краткое руководство по Маркдауну</a></li>
                </div>
            </div>
        </div>
        <p>
            {{ form.text.label }}<br> {{ form.text(class="form-control w-100") }}<br> {% for error in form.text.errors %}
            <p class="alert alert-danger"role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <div class="mb-3">
            <label for="formFile" class="form-label">Приложите фотографию к новости</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <p>{{ message }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}