{% extends "base_2.html" %}
{% set active_page = "news_search" %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form method="POST">
        <h5>Поиск новостей</h5>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search.label }}<br> {{ form.search(class="form-control") }}<br> {% for error in form.search.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>{{ message }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for new in news_search_api %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="card-text">{{ new['title'] }}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-secondary" target="_blank" href="{{ new['url'] }}" style="padding: 8px 30px; margin-top: 10px;">Читать</a>
                        </div>
                        <small class="text-muted"></small>Опубликовано {{ new['publishedAt'][0:10] }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}